<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!--favicon 에러-->
    <link rel="shortcut icon" href="#">
    <!--favicon 에러-->
    <title>Document</title>
</head>
<body>
    <div id="container">
    <% if (user){ %>
        <div>
            <input type="hidden" id="userId"  value="<%= user.id %>"/>
            <p><h1 id="userNick"><%= user.nick %></h1>님 로그인되었습니다</p>

            <p>
                <input type="button" value="회원탈퇴" onclick="delUser()"/>
            </p>

        </div>
    <% }else{ %>
        <form  id="loginForm" action="/auth/login" method="post">
            <input id="id" type="text" />
            <input id="password" type="password" />
            <input type="button" value="로그인" onclick="login()"/>
            <input type="button" value="회원가입" onclick="regist()"/>
        </form>
    <% } %>
    

    

    </div>
</body>

<script>
    
    function login(){
        const id = document.getElementById("id").value;
        const password = document.getElementById("password").value;

        const data = {
            'id':id,
            'password':password,
        };
        console.log("여기있는데");
        axios({
            method:"POST",
            url: "/auth/login",
            data: data,
        })
        .then((res)=>{
            location.href="/";
        })
        .catch((err)=>{
            console.error(err);
        });
        
    }
    
    function regist(){
        //그냥 regist페이지로만 가게해놓자
        location.href="/join";
    }

    function delUser(){
        userId = document.getElementById("userId").value
        if(confirm("회원 탈퇴를 진행하시겠습니까?")){
            axios.get(`/auth/delUser/${userId}`)
                .then((res) => {
                    console.log(res);
                    location.href = "/";
                })
                .catch((err) => {
                    console.error(err);
            });
        }
    }
</script>


</html>